<html>
<head>
<title> Welcome to Salesforce Chat Bot </title>
</head>
<body>
<style type='text/css'> 
	.embeddedServiceHelpButton .helpButton, 
	.embeddedServiceSidebar.layout-docked .dockableContainer.showDockableContainer, .embeddedServiceSidebar.layout-float .dockableContainer.showDockableContainer,
	.embeddedServiceSidebarMinimizedDefaultUI.newMessage, .embeddedServiceSidebarMinimizedDefaultUI.idleTimeout,
	.embeddedServiceSidebar.modalContainer { float:left !important; left:5px !important;}
</style>

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
	var initESW = function(gslbBaseURL) {
//embedded_svc.settings.displayHelpButton = true; //Or false
		embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'

		embedded_svc.settings.defaultMinimizedText = 'Chat with us for more Details'; //(Defaults to Chat with an Expert)
		embedded_svc.settings.disabledMinimizedText = 'Contact us ofline'; //(Defaults to Agent Offline)
		embedded_svc.settings.autoOpenPostChat = true;
		
		//embedded_svc.settings.widgetWidth = "..."; //Set the width
//embedded_svc.settings.widgetHeight = "..."; //Set the height
//embedded_svc.settings.widgetFontSize = "..."; //Set the font size
//embedded_svc.settings.storageDomain = "..."; //Set a Domain
//embedded_svc.settings.language = ".."; //Set the Language [en_US]
//embedded_svc.settings.prechatBackgroundImgURL = "..."; //Set the Pre-Chat Banner [We recommend an image that’s 320x100 pixels.]
//embedded_svc.settings.smallCompanyLogoImgURL = "..."; //Logo for Header and Minimized Chat [We recommend a logo that’s 36x36 pixels.]
//embedded_svc.settings.waitingStateBackgroundImgURL = "..."; //Waiting State [We recommend an image that’s 250x60 pixels.]
//embedded_svc.settings.avatarImgURL = "..."; //Agent Avatar [We recommend an image size that’s 40x40 pixels.]
//embedded_svc.settings.chatbotAvatarImgURL = "..."; //Einstein Bots Avatar [We recommend an image size that’s 40x40 pixels.]
embedded_svc.settings.displayHelpButton = "livechatt.png"; //To display the default chat button
//embedded_svc.settings.defaultMinimizedText = "..."; //Online text
//embedded_svc.settings.disabledMinimizedText = "..."; //Offline Text
//embedded_svc.settings.offlineSupportMinimizedText = "..."; //Offline Support Text
//embedded_svc.settings.loadingText = "..."; //Loading Text
//embedded_svc.settings.externalScripts = ["...", "..."] //Load a JavaScript File
//embedded_svc.settings.externalStyles = ["...", “...”]; //Load External CSS Style
		
		//embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
		//embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

		// Settings for Chat
		//embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
			// Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
			// Returns a valid button ID.
		//};
		//embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
		//embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
		//embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

		embedded_svc.settings.enabledFeatures = ['LiveAgent'];
		embedded_svc.settings.entryFeature = 'LiveAgent';

		embedded_svc.init(
			'https://techmahindra187-dev-ed.my.salesforce.com',
			'https://sathishwebchat-developer-edition.ap24.force.com',
			gslbBaseURL,
			'00D5g000004P1g3',
			'ESD1',
			{
				baseLiveAgentContentURL: 'https://c.la2-c1-ukb.salesforceliveagent.com/content',
				deploymentId: '5725g000000ChdF',
				buttonId: '5735g000000CjsK',
				baseLiveAgentURL: 'https://d.la2-c1-ukb.salesforceliveagent.com/chat',
				eswLiveAgentDevName: 'EmbeddedServiceLiveAgent_Parent04I5g0000004HuwEAE_177ce935ae3',
				isOfflineSupportEnabled: true
			}
		);
	};

	if (!window.embedded_svc) {
		var s = document.createElement('script');
		s.setAttribute('src', 'https://techmahindra187-dev-ed.my.salesforce.com/embeddedservice/5.0/esw.min.js');
		s.onload = function() {
			initESW(null);
		};
		document.body.appendChild(s);
	} else {
		initESW('https://service.force.com');
	}
</script>

First name: <input type='text' name='liveagent.prechat:ContactFirstName' id='firstName' /><br />
    Last name: <input type='text' name='liveagent.prechat:ContactLastName' id='lastName' /><br />
    Email: <input type='text' name='liveagent.prechat:ContactEmail' id='email' /><br />
    Phone: <input type='text' name='liveagent.prechat:ContactPhone' id='phone' /><br />
    Issue: <input type='text' name='liveagent.prechat:CaseSubject' id='subject' /><br />
</body>
</html>
