<html>
<body>

<style type='text/css'>
    .embeddedServiceHelpButton .helpButton .uiButton {
        background-color: #005290;
        font-family: "Arial", sans-serif;
    }
    .embeddedServiceHelpButton .helpButton .uiButton:focus {
        outline: 1px solid #005290;
    }
</style>

 

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
    var initESW = function(gslbBaseURL) {

 
 embedded_svc.settings.widgetWidth = "400px"; //Set the width
	    embedded_svc.settings.widgetHeight = "500px"; //Set the height
	    embedded_svc.settings.widgetFontSize = "15px"; //Set the font size
	    embedded_svc.settings.prechatBackgroundImgURL = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fcoolbackgrounds.io%2F&psig=AOvVaw1WjjCHehh5CeCrCM2dsNcY&ust=1614253022016000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCN66K3gu8CFQAAAAAdAAAAABAJ"; //Pre-Chat Banner...  We recommend an image that’s 320x100 pixels.
	    embedded_svc.settings.smallCompanyLogoImgURL = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.searchenginegenie.com%2Flogo-designs.htm&psig=AOvVaw1KSdoPQ80wrTyT_m-zvTp7&ust=1614253146708000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLigw923gu8CFQAAAAAdAAAAABAO";  //Logo for Header and Minimized Chat... We recommend a logo that’s 36x36 pixels.
	    embedded_svc.settings.waitingStateBackgroundImgURL = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.askideas.com%2F45-very-best-waiting-for-you-pictures%2F&psig=AOvVaw0g5RFy-HZY9u8BJqUtDMAQ&ust=1614253343029000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOiTk8C4gu8CFQAAAAAdAAAAABAD"; //Waiting State... We recommend an image that’s 250x60 pixels.
	    embedded_svc.settings.avatarImgURL = "https://www.google.com/url?sa=i&url=http%3A%2F%2Fkawala.in%2Fassets%2Fglobal%2Fimages%2Favatars%2F&psig=AOvVaw06LcgrlO1eW4BNrkX19PPy&ust=1614253393596000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCID02NW4gu8CFQAAAAAdAAAAABAD"; //Agent Avatar... We recommend an image size that’s 40x40 pixels.
	    embedded_svc.settings.chatbotAvatarImgURL = "https://www.google.com/url?sa=i&url=http%3A%2F%2Fkawala.in%2Fassets%2Fglobal%2Fimages%2Favatars%2F&psig=AOvVaw06LcgrlO1eW4BNrkX19PPy&ust=1614253393596000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCID02NW4gu8CFQAAAAAdAAAAABAD"; //Einstein Bots Avatar... We recommend an image size that’s 40x40 pixels.
	    embedded_svc.settings.displayHelpButton = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-icon%2Fround-help-button_778598.htm&psig=AOvVaw1NY5Ydx2XfHIfQdfB3rlqt&ust=1614253594728000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNiI8bK5gu8CFQAAAAAdAAAAABAN"; //Display the Default Chat Button...
	    embedded_svc.settings.defaultMinimizedText = "Online text...."; //Online text....
	    embedded_svc.settings.disabledMinimizedText = "Offline text...."; //Offline text....
	    embedded_svc.settings.offlineSupportMinimizedText = "Offline support text...."; //Offline support text...
	    embedded_svc.settings.loadingText = "Loading text...."; //Loading text...
        



 


 

        // Settings for Chat
        //embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
            // Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
            // Returns a valid button ID.
        //};
        //embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
        //embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
        //embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

 

        embedded_svc.settings.enabledFeatures = ['LiveAgent'];
        embedded_svc.settings.entryFeature = 'LiveAgent';

 

        embedded_svc.init(
            'https://techmahindra187-dev-ed.my.salesforce.com',
            'https://sathishwebchat-developer-edition.ap24.force.com',
            gslbBaseURL,
            '00D5g000004P1g3',
            'ESD1',
            {
                baseLiveAgentContentURL: 'https://c.la2-c1-ukb.salesforceliveagent.com/content',
                deploymentId: '5725g000000ChdF',
                buttonId: '5735g000000CjsK',
                baseLiveAgentURL: 'https://d.la2-c1-ukb.salesforceliveagent.com/chat',
                eswLiveAgentDevName: 'EmbeddedServiceLiveAgent_Parent04I5g0000004HuwEAE_177ce935ae3',
                isOfflineSupportEnabled: true
            }
        );
    };

 

    if (!window.embedded_svc) {
        var s = document.createElement('script');
        s.setAttribute('src', 'https://techmahindra187-dev-ed.my.salesforce.com/embeddedservice/5.0/esw.min.js');
        s.onload = function() {
            initESW(null);
        };
        document.body.appendChild(s);
    } else {
        initESW('https://service.force.com');
    }
</script>

</body>
</html>
